body{
  font-family: 'Arima', cursive;
  margin: 0;
}
h1{
  font-size: 50px;
}


.flexible-container{
  display: flex;
  margin-bottom: 150px;
}
.abir{
  width: 50%;
padding-left: 5%;
}
.abir img{
  width: 80%;
}
.abir1{
  color: rgb(47, 15, 228);
}

.link-button{
  text-decoration: none;
 background-image: linear-gradient(blue,aqua);
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 10px;
  color: beige;
}
.link-button1{
  text-decoration: none;
 background-image: linear-gradient(green,rgb(88, 99, 102));
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 10px;
  color: beige;
}
.top-banner{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big{
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.Exprience-item{
  box-shadow: 10px 10px 40px gray;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  border-radius: 40px;
}
.heading{
  font-size: 40px;
}
.section-area{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#Full-stack{
  border-top: 5px solid rgb(123, 125, 118);
  border-bottom: 5px solid rgb(73, 74, 71);
  border-left: 5px solid orangered;
  border-right: 5px solid tomato;
}
#Baby-web{
  border-bottom: 5px solid aqua;
  border-top: 5px solid aqua;
  border-left: 5px solid gray;
  border-right: 5px solid gray;
}
footer p{
  text-align: center;
  font-size: 30px;
 background-image: linear-gradient(gray,lightblue);
}